.homebanner {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  z-index: -100;
}
/* CSS for Typewriter Animation */
/* CSS for Enhanced Typewriter Animation */

.typewriter-container {
  text-align: center;
  margin-top: 100px;
}

.typewriter-text {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 50px;
  padding: 20px;
  text-align: center;

  letter-spacing: 0.1em;
  font-size: 5em;
  font-weight: bold;
  animation: typing 3s steps(20) infinite;
}

@keyframes typing {
  from {
    width: 0;
    color: blue;
  }
  to {
    width: 100%;
    color: brown;
  }
}

/* Additional Styles for Beautiful Animation */
.typewriter-container {
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeIn 5s forwards; /* Fade in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter-text::after {
  content: "|"; /* Blinking cursor after the text */
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
