/* WanIpRequester.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 800px;
}

label {
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em; /* Make the label text slightly larger */
  font-weight: bold; /* Make the label text bold */
}

input[type="submit"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ff5722; /* Orange */
  color: #fff;
  cursor: pointer;
}

input[type="text"] {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px 1px rgb(71, 69, 69); /* Add a subtle shadow to the input field */
}

input[type="submit"]:hover {
  background-color: #ff9800; /* Lighter Orange */
}

.result {
  margin-top: 20px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  color: #f00; /* Red for error messages */
}

/* Add this to style the video card */
.video-card {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}
