.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.form-container {
  width: 80%; /* Adjust width as needed */
  margin-top: 20px; /* Add top margin to move up the form */
}

.form-group {
  margin-bottom: 10px; /* Decrease bottom margin for form groups */
}

.form-label {
  font-size: 14px; /* Decrease font size for labels */
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control,
.select-control {
  width: 100%; /* Make form controls full width */
  padding: 8px; /* Adjust padding for form controls */
  border-radius: 3px;
  border: 1px solid #007bff; /* Add border for form controls */
  font-size: 14px; /* Decrease font size for form controls */
  text-align: left; /* Align text to the left */
}

/* Decrease placeholder font size for WAN IP input */
.form-control::placeholder {
  font-size: 12px; /* Decrease placeholder font size */
}

/* Increase placeholder font size for select control */
.select-control::placeholder {
  font-size: 14px; /* Increase placeholder font size */
  width: calc(100% - 16px); /* Adjust width of placeholder */
  text-align: left; /* Align placeholder text to the left */
  padding-left: 15px; /* Push placeholder text slightly to the right */
}

.submit-button {
  width: 100%; /* Make submit button full width */
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; /* Primary color */
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker shade of primary color on hover */
}

.result {
  margin-top: 20px;
}

.video-card {
  margin-top: 20px;
}

.video-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}
