.about-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333; /* Adjust color as needed */
  animation: fadeInDown 1s ease-in-out; /* Apply animation */
}

.about-description {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 30px;
  color:black;
  animation: slideInUp 1s ease-in-out; /* Apply animation */
}
.p{
  color: black;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
