.home-slider-container {
  position: relative;
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100vh; /* Set height to 100% of the viewport height */
}

.home-slider-container img {
  width: 100%; /* Make the image fill the entire width of its container */
  height: 100%; /* Make the image fill the entire height of its container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
