.logo {
  height: 60px;
  width: 8%;
  padding: 0;
  margin-left: 0;
}
.logo-box {
  height: 40px;
  margin: 0;
  width: auto;
}
.header-upper {
  width: 100%;
}
nav {
  margin-top: 0;

  display: flex;
  width: 100%;

  margin-right: 20px;
  padding-left: 100px;
}
.home {
  padding: 0;
}
.right-column {
  display: flex;

  justify-content: center;
  margin-top: 0 auto;
}
.link-btn {
  margin-left: 0;
  padding: 0;
  background-color: brown;
}
