/* Logo */
.logo {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 100px; /* Reduce right margin to move the logo left */
  margin-left: 0; /* Set left margin to 0 to ensure it starts from the left edge */
  display: flex;
  align-items: center; /* Align the logo vertically */
}


/* Navigation */
.navigation {
  display: flex;
  justify-content: center;
  font-size: 5px; /* This seems unusually small; you might want to adjust */
  margin-right: 0px;
  width: 100%;
}

/* Navigation */
nav {
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding-top: 0;
  margin-right: 0px;
  margin-left: 0;
}

/* Home */
.home {
  padding: 0;
}

/* Right Column */
.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
}

/* Link Button */
.Link-btn {
  margin: 0px;
  padding: 5px 10px; /* Adjust padding for button size */
  font-size: 15px;
}

/* Phone Number */
.phone-number {
  font-size: small;
}

/* Button Style */
.btn-style-one {
  background-color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Ensure navigation buttons display in one row on smaller screens */
  .navigation .Link-btn {
    flex: 1; /* Adjust flex property to evenly distribute buttons */
    max-width: 100px; /* Set maximum width for individual buttons */
  }
}
